@tailwind base;
@tailwind components;
@tailwind utilities;

/* Main.jsx */

#root {
  @apply w-full min-h-screen flex justify-center items-center bg-customSlate-100;
}

/* InputField.jsx */

.removeArrow::-webkit-inner-spin-button,
.removeArrow::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.removeArrow {
  -moz-appearance: textfield;
}

/* App.jsx */

.outputSection {
  @apply w-full flex flex-col items-center px-6 py-8 lg:px-7 bg-outputSectionBG lg:rounded-bl-[75px] md:rounded-br-2xl md:rounded-bl-2xl lg:rounded-tr-2xl;
}

.preOutputSection {
  @apply w-full flex flex-col lg:justify-center items-center px-6 py-8 md:pb-9 lg:px-7 bg-outputSectionBG lg:rounded-bl-[75px] md:rounded-br-2xl md:rounded-bl-2xl lg:rounded-tr-2xl;
}
